body {
    margin:20px;
    padding:5px;
    word-wrap:break-word;
    line-height:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-top-right-radius:1OOpx;
    border-top-left-radius: auto;

}
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    line-height: auto;
    margin-bottom: 10px;
}
header img {

    width: 10%;
    height: 10%;
    float: left;


}
header nav{
    float: left;
    width: 100%;

    font-style: bold;

}
nav li {
    float: right;
    padding-right: 30px;
    text-decoration: overline;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    float: right;
}
section{

  margin-top: 310px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 10px;


}
#container{
  display: flex;
  margin-top:200px;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-around;
  flex-start;
  flex:300px;
  justify-content: space-between;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-style: dashed;
}
article{
    max-width: 330px;
    max-height: 230px;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
border-style: dashed;
float:left;
}
article img {
    width: 300px ;
    height:130px ;
    border-top-right-radius: auto;
    border-top-left-radius: auto;
}
aside{
float:right;
width: 30%;

}

.P1{
  line-height:1px;
}
.liste{
  color:blue;
  font-weight: bold;
}
